@import "~styl/mixins"

.create-todo-form
  width 100%
  box-shadow: 1px 1px 3px rgba(97, 97, 97, 0.38);
  clearfix()

  input,
  button
    outline none
    float left
    font-size 16px
    line-height 1.3
    padding 1em
    border 0

  input
    width 80%

  button
    width 20%
    background #efefef
